<form action="/save" method="POST">
	<div>
		<label>Name:</label>
		<input type="text" name="name">
	</div>
	<div>
		<label>Age:</label>
		<input type="text" name="age">
	</div>
	<div>
		<label>Email:</label>
		<input type="text" name="email">
	</div>
	<div>
		<label>Contact:</label>
		<input type="text" name="contact">
	</div>
	<input class="adduser" type="submit" name="Add">
</form>